@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;400;500;600;700;800&display=swap');


body {
  margin: 0;
  padding: 0;
  font-family: 'Exo 2', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Nav */

#nav-container {
  position: fixed;
  width: 100%;
  height: 3.5rem;
  background-color: #fccb03;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

#nav-container > #title {
  margin-left: 10px;
  font-weight: 800;
  font-size: 30px;
  flex-grow: 0;
}

#nav-container > #menu {
  margin-right: 20px;
  display: flex;
  justify-content: flex-end;
  flex-grow: 0;
}

.btn {
  margin: 0 7px;
  width: 90px;
  height: 33px;
  border-radius: 1rem;
  font-size: 19px;
  font-weight: 700;
  color: #232321;
  background-color: #ffffff;
  text-align: center;
  line-height: 33px
}

/* GameStart */

#gamestart-container {
  height: 38rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#gamestart-container > #game-btn {
  background-color: #000000;
  color: #ffffff;
  width: 14rem;
  height: 4rem;
  border-radius: 3rem;
  text-align: center;
  line-height: 60px;
  font-size: 1.5rem;
  font-weight: 700;
}

/* Login */

#login-background {
  width: 100%;
  height: 38rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login-logo {
  position: absolute;
  bottom: 26.3rem;
  width: 20rem;
  z-index: 1;
}

#login-container {
  position: absolute;
  bottom: 4rem;
  width: 20rem;
  height: 24rem;
  background-color: #fccb03;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#login-input-id {
  margin-top: 1rem;
  padding: 1rem;
  width: 14rem;
  height: 2.5rem;
  border: #ffffff;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 700;
}

#login-input-password {
  padding: 1rem;
  width: 14rem;
  height: 2.5rem;
  border: #ffffff;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 700;
}

#login-valid {
  margin: 0.5rem;
  font-size: 12px;
  font-weight: 700;
  text-align: left;
}

#login-btn {
  width: 14rem;
  height: 2.5rem;
  background-color: #232321;
  color:#ffffff;
  font-size: 16px;
  font-weight: 700;
}

#login-social {
  margin-top: 0.5rem;
  width: 14rem;
  display: flex;
  flex-direction: column;
}

.login-social-btn {
  margin-top: 0.5rem;
}

.login-social-image {
  width: 14rem;
}

#login-signin {
  margin-top: 0.7rem;
  font-size: 15px;
  font-weight: 700;
  align-self: center;
}

/* Profile */

#profile-background {
  width: 100%;
  height: 38rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#profile-container {
  margin-top: 6rem;
  width: 28rem;
  height: 28rem;
  background-color: #fccb03;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#profile-out-btn {
  margin-right: 1.5rem;
  width: 2rem;
  height: 2rem;
  background-color: #ffffff;
  align-self: flex-end;
  border-radius: 2rem;
  text-align: center;
  font-size: 40px;
  line-height: 25px;
  color: #232321;
}

#profile-wrapper {
  display: flex;
  flex-direction: column;
  width: 20rem;
}

#profile-img-box {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#profile-img {
  width: 7rem;
  align-self: center;
}

#profile-word {
  margin-top: 1rem;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  width: 20rem;
  height: 2.5rem;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 15px;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#profile-word-edit {
  margin-top: 1rem;
  padding-left: 1rem;
  padding-right: 0.5rem;
  width: 20rem;
  height: 2.5rem;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 15px;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#profile-word-input {
  width: 14rem;
  height: 2.5rem;
  border: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 15px;
}

#profile-word-input:focus {
  outline: #ffffff;
}

#profile-word-btn {
  width: 3rem;
  height: 1.7rem;
  background-color: #232321;
  color: #ffffff;
  text-align: center;
  line-height: 26px;
  border-radius: 0.5rem;
  cursor: pointer;
}

#profile-info {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 700;
}

#profile-follower {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#profile-follower-info {
  width: 3.5rem;
  height: 2rem;
  background-color: #ffffff;
  text-align: center;
  line-height: 30px;
}

#profile-following-info {
  width: 3.5rem;
  height: 2rem;
  background-color: #ffffff;
  text-align: center;
  line-height: 30px;
}

#profile-coin {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#profile-coin-info {
  padding: 1rem;
  width: 12rem;
  height: 2rem;
  background-color: #ffffff;
  line-height: 0px;
  text-align: right;
}

#profile-ranking {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#profile-ranking-info {
  padding: 1rem;
  width: 12rem;
  height: 2rem;
  background-color: #ffffff;
  line-height: 0px;
  text-align: right;
}

.profile-icon-img {
  width: 3rem;
}

/* Landing */

#landing-container { 
  height: 220rem;
  display: flex;
  justify-content: center;
}

#landing-logo {
  position: absolute;
  top: 10rem;
  width: 40rem;
}

#landing-container span {
  font-size: 45px;
  font-weight: 700;
}

#landing-container span:nth-child(2) { 
  position: absolute;
  top: 70rem;
}

#landing-container span:nth-child(3) { 
  position: absolute;
  top:120rem;
}

#landing-container span:nth-child(4) { 
  position: absolute;
  top:170rem;
}

/* Footer */

#Footer-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#footer-word {
  font-size: 16px;
  margin: 1rem;
}