/* Landing */

#landing-container { 
  height: 500vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#landing-logo {
  width: 50vw;
  z-index: 1;
}

#landing-page-1 {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffdb3a;
}

#landing-page-2 {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ffdc48;
}

#landing-page-3 {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ffdc48;
}

#landing-page-4 {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #ffdc48;
}

#landing-page-5 {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient( to bottom, #ffdc48, #ffffff);
}

#landing-word {
  font-size: 3.5vw;
  font-weight: 700;
}

.landing-btn {
  position: fixed;
  top: 75vh;
  width: 10rem;
  height: 4rem;
  margin: 0 7px;
  border-radius: 1rem;
  border: #232321;
  font-size: 19px;
  font-weight: 700;
  text-align: center;
  line-height: 4rem;
  cursor: pointer;
  background-color: #232321;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
}

.landing-btn:hover {
  animation: pulse; 
  animation-duration: .5s;
}

#landing-btn-arrow {
  color: #232321;
}

#landing-container span {
  font-size: 45px;
  font-weight: 700;
}