/* Profile */

#profile-background {
  width: 100%;
  height: 93vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

#profile-container {
  position: absolute;
  top: 22%;
  width: 28rem;
  height: 28rem;
  background-color: #fccb03;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#profile-out-btn {
  margin-right: 1.5rem;
  width: 2rem;
  height: 2rem;
  background-color: #ffffff;
  align-self: flex-end;
  border-radius: 2rem;
  text-align: center;
  font-size: 40px;
  line-height: 25px;
  color: #232321;
}

#profile-wrapper {
  display: flex;
  flex-direction: column;
  width: 20rem;
}

#profile-img-box {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#profile-img {
  width: 7rem;
  align-self: center;
}

#profile-word {
  margin-top: 1rem;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  width: 20rem;
  height: 2.5rem;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 15px;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#profile-word-edit {
  margin-top: 1rem;
  padding-left: 1rem;
  padding-right: 0.5rem;
  width: 20rem;
  height: 2.5rem;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 15px;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#profile-word-input {
  width: 14rem;
  height: 2.5rem;
  border: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 15px;
}

#profile-word-input:focus {
  outline: #ffffff;
}

.profile-word-btn {
  width: 3rem;
  height: 1.7rem;
  background-color: #232321;
  color: #ffffff;
  text-align: center;
  line-height: 26px;
  border-radius: 0.5rem;
  cursor: pointer;
}

#profile-info {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 700;
}

#profile-follower {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#profile-follower-info {
  width: 3.5rem;
  height: 2rem;
  background-color: #ffffff;
  text-align: center;
  line-height: 30px;
}

#profile-following-info {
  width: 3.5rem;
  height: 2rem;
  background-color: #ffffff;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}

#profile-following-info:hover {
  color:#ffffff;
  background-color: #000000;
}

#profile-coin {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#profile-coin-info {
  padding: 1rem;
  width: 12rem;
  height: 2rem;
  background-color: #ffffff;
  line-height: 0px;
  text-align: right;
}

#profile-ranking {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#profile-ranking-info {
  padding: 1rem;
  width: 12rem;
  height: 2rem;
  background-color: #ffffff;
  line-height: 0px;
  text-align: right;
}

.profile-icon-img {
  width: 3rem;
}

#profile-loading {
  position: absolute;
  left: 45%;
  top: 45%;
}